.plugin_videoplayer{
	display: inline-block;
}
.controls_videoplayer{
	margin-top: 0;
	background-color: #000000;
	color: #ffffff;
	width:100%;
}
.soundIcon, .resizeIcon{
	width: 80%;
}
.playBtn, .stopBtn,.sound,.resize{
	text-align: center;
	width: 20px;
	display: inline-block;
	padding: 0.5%;
	cursor: pointer;
}
.sound{
	margin-top: 2%;
	margin-left:0.5%;
}
.volume,.rewind{
vertical-align: middle;
}

.volume{
	width: 10%;
}
.rewind{
	width: 48%;
}